<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>CRUD Usuários</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txtNome">Nome</label>
            <div class="col-md-4">
                <input id="txtNome" name="txtNome" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="txtCPF">CPF</label>
            <div class="col-md-4">
                <input id="txtCPF" name="txtCPF" type="text" placeholder="" class="form-control input-md">

            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comboUF">UF</label>
            <div class="col-md-4">
                <select id="comboUF" name="comboUF" class="form-control">
                </select>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comboCidade">Cidade</label>
            <div class="col-md-4">
                <select id="comboCidade" name="comboCidade" class="form-control">
                </select>
            </div>
        </div>

    </fieldset>
</form>
